.wrapper {
  display: flex;  
  flex-flow: row wrap;
  font-weight: bold;
  text-align: center;
  color: #4EB1BA;
}
.wp{
  height: 100vh;
  background-color: #222930;
}

.wrapper > * {
  padding: 10px;
  flex: 1 100%;
}

.container{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: baseline;
}
.item1{
  order: 1;
}

.item2{
  order: 2;
}
.header {
}

.footer {
}

.main {
  text-align: left;
}

@media all and (min-width: 600px) {
  .aside { flex: 1 auto; }
}

@media all and (min-width: 800px) {
  .main    { flex: 3 0px; }
  .main    { order: 2; }
  .footer  { order: 4; }
}

